  <!DOCTYPE html>
html(lang="de")
head
  meta(charset="UTF-8")
  title Document
link(rel="stylesheet", href="main.styl")
nav
body
img(src="./_src/data/bildschirmfoto-2020-03-21-um-19-14-24.png", alt="")
.container
  h2.Willk
    | Willkommen
    | in Deinem digitalen
    | Klassenzimmer.
    | Schön, dass Du da bist.

button.HEREINSPAZIERT
  |HEREINSPAZIERT


script(src='main.js')
