  <!DOCTYPE html>
html(lang="de")
head
  meta(charset="UTF-8")
  title Document
link(rel="stylesheet", href="main.styl")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
nav
body
img(src="/data/bildschirmfoto-2020-03-21-um-19-14-24.png", alt="")
.container
  h2.Willk
    | Willkommen
    | in Deinem digitalen
    | Klassenzimmer.
    | Schön, dass Du da bist.
    | <i class="material-icons">face</i>

button.HEREINSPAZIERT
  |HEREINSPAZIERT
.container
  h2 
    | digital austauschen und kommunizieren - so einfach wie im Klassenzimmer!
    | Schule als klassischer Lehrort weggebrochen
    | Lehrer zum Teil nicht mehr verfügbar
    | Es muss ein Austausch des Lehrmaterials über Schulen hinweg stattfinden
    | Kommunikation zwischen Lehrern und Schüler/innen vereinfachen

  h2 Problem
    ul
      li Unterschiedliche Lernplattformen
      li Keine konsistente Möglichkeit Lehrmaterial mit Schülern/innen auszutauschen
      li Keine einheitliche Kommunikationsplattform
      li Verfügbarkeit von Endgeräten eingeschränkt



script(src='main.js')
