<!DOCTYPE html>
html(lang="de")
head
  meta(charset="UTF-8")
  title Willkommen
body
.container
  img(src="", alt="")
  h2.Willk
    | Willkommen
    | in Deinem digitalen
    | Klassenzimmer.
    | Schön, dass Du da bist.

  button.HEREINSPAZIERT
    |HEREINSPAZIERT

script(src='main.js')
link(rel="stylesheet", href="main.styl")