  <!DOCTYPE html>
html(lang="de")
head
  meta(charset="UTF-8")
  title klasse.cloud
link(rel="stylesheet", href="main.styl")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
nav
body
img(src="/data/bildschirmfoto-2020-03-21-um-19-14-24.png", alt="")
.container
  h2.Willk
    | Willkommen in Deinem digitalen Klassenzimmer.
    | Schön, dass Du da bist.

button.HEREINSPAZIERT
  |HEREINSPAZIERT

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRJCpk_c7bY2YA7yYISNSLy4xxkpEgJqZxiVZCp6SmkNVDbZ3FPtyCYQRPE-We7WObUcNPRRrq3kezR/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>


//- <i class="material-icons md-48">face</i>
//- <i class="material-icons md-48">offline_bolt</i>
//- <i class="material-icons md-48">school</i>

script(src='main.js')
