  <!DOCTYPE html>
html(lang="de")
head
  meta(charset="UTF-8")
  title Document
link(rel="stylesheet", href="main.styl")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
nav
body
img(src="/data/bildschirmfoto-2020-03-21-um-19-14-24.png", alt="")
.container
  h2.Willk
    | Willkommen in Deinem digitalen Klassenzimmer.
    | Schön, dass Du da bist.

button.HEREINSPAZIERT
  |HEREINSPAZIERT

img(src="/data/Folie1.png", alt="")
img(src="/data/Folie2.png", alt="")
img(src="/data/Folie3.png", alt="")
img(src="/data/Folie4.png", alt="")
img(src="/data/Folie5.png", alt="")
img(src="/data/Folie6.png", alt="")
img(src="/data/Folie7.png", alt="")
img(src="/data/Folie8.png", alt="")
img(src="/data/Folie9.png", alt="")


//- <i class="material-icons md-48">face</i>
//- <i class="material-icons md-48">offline_bolt</i>
//- <i class="material-icons md-48">school</i>

script(src='main.js')
